set timeout=3
set default=0

# UEFI/BIOS framebuffer setup
if [ "$grub_platform" = "efi" ]; then
    insmod efi_gop
    insmod efi_uga
else
    insmod vbe
fi
set gfxmode=1280x1024x32,1024x768x32,auto
set gfxpayload=keep

menuentry "Lyth" {
    multiboot /boot/kernel.bin
    boot
}